body{
    background-color: lightgray;
}
h2 {
    position: relative;
    left: 130px;
    color: white;
    border: 15px black;
    border-style: groove;
    background-color: gray;
    margin: 20px;
    font-size: 40px;
    font-style: oblique;
    max-width: 300px;
    text-align: center;
    vertical-align: middle;
}
p{
    font-size: 20px;
    font: bold;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 40px;
    position: relative;
    border: 4px groove black;
    max-width: 300px;
    text-align: center;
    
}
.ref{
    position: absolute;
    color:black;
    border: none;
    background-color: lightgray;
    max-width: none;
    font-size: 20px;
    left: 0px;
    text-decoration: none;
}
a{
    border: 10px solid darkgray;
}
#luis{
    position: relative;
    top: 40px;
    text-decoration: overline;

}